/*TABLE OF CONTENTS*/

/*HTML ELEMENTS*/
/*CONTAINERS*/
/*FLEX DIVS*/
/*IMAGE PROPERTIES*/
/*BASE COLORS*/

/*HTML ELEMENTS*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

body {
  display: flex;
}

h1 {
  padding-left: 30px;
  padding-top: 10px;
  margin-bottom: -4px;
  color: #FFF2EA;
  font-size: 5em;
  letter-spacing: -5px;
}

h2 {
  padding-left: 35px;
  line-height: 0px;
  color: #EFD4C4;
}

p {
  padding-left: 35px;
  margin-top: 22px;
  color: #FFF2EA;
}

img {
  width: 15px;
  padding-right: 5px;
}

button {
  display: flex;
  align-items: center;
  background: none;
  border: 2px solid #ffffff;
  color: #ffffff;
  width: 120px;
  height: 40px;
  margin-right: 10px;
  margin-top: 12px;
}

/*CONTAINERS*/

.container {
  width: 62.5%;
  display: flex;
  flex-wrap: wrap;
}

.hero {
  background-image: url('assets/edgar1.jpg');
  width: 37.5%;
  height: 100vh;
  background-size: cover;
  background-position-x: 9%;
  display: inline-block;
  position: relative;
}

.button-container {
  padding-left: 35px;
  display: flex;
}

/*FLEX DIVS*/

.div {
  width: 33.3%;
  height: 33.3vh;
  min-height: 195px;
}

.div1 {
  width: 66.6%;
  /*display: flex;
  flex-direction: column;
  align-content: center;*/
}

.div2,
.div5,
.div8 {
  width: 33.4%;
}

.div3,
.div4,
.div5 {
  height: 33.4vh;
}

.sqdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/*IMAGE PROPERTIES*/

.icon {
  height: 50px;
  width: 50px;
  padding: 20px;
}

.back-btn {
  vertical-align: middle;
  height: 100%;
  width: 40px;
  opacity: .5;
  margin-left: 3%;
}

.next-btn {
  vertical-align: middle;
  height: 100%;
  width: 40px;
  opacity: .5;
  margin-right: 3%;
  float: right;
}

.more-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  opacity: .5;
}

.myspace-img {
  padding-left: 25px;
}

.reddit-img {
  padding-left: 28px;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 900px) {

  .hero {
    order: -1;
    width: 100%;
    height: 50vh;
    background-image: url('assets/edgar6.png');
    background-position-y: 75%;
    background-repeat: no-repeat;
  }

  .back-btn,
  .next-btn {
    display: none;
  }

  div {
    min-height: 50px;
  }

  body {
    flex-direction: column;
  }

  .container {
    width: 100%;
  }

  h1 {
    padding-left: 12px;
    padding-top: 5px;
    margin-bottom: -4px;
    color: #FFF2EA;
    font-size: 4em;
    letter-spacing: -5px;
  }

  h2 {
    padding-left: 17px;
    line-height: 0px;
    font-size: 1em;
    color: #EFD4C4;
  }

  p {
    padding-left: 18px;
    margin-top: 22px;
    color: #FFF2EA;
    font-size: .8em;
  }

  button {
    display: flex;
    align-items: center;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    width: 110px;
    height: 35px;
    margin-right: 10px;
    margin-top: 12px;
  }

  .button-container {
    padding-left: 19px;
    /*display: flex;*/
  }

  .div {
    min-height: 180px;
    max-height: 180px;
  }

  .myspace-img {
    padding-left: 20px;
  }

  .reddit-img {
    padding-left: 26px;
  }

}

@media only screen and (max-width: 500px) {

  .div {
    width: 100%;
  }

}

/*BASE COLORS*/

.div1 {
  background: linear-gradient(to right, #295249 , #7E9A94)
}
.div2 {
  background-color: #B0C0BD
}
.div3 {
  background-color: #A76265
}
.div4 {
  background-color: #C68C8F
}
.div5 {
  background-color: #EBC0C2
}
.div6 {
  background-color: #7AA575
}
.div7 {
  background-color: #A3C4A0
}
.div8 {
  background-color: #CEDFCC
}

/*http://paletton.com/#uid=75B0p0k9opi2FEN5MtYdclifXfZ*/
