/*TABLE OF CONTENTS*/

/*HTML ELEMENTS*/
/*CONTAINER*/
/*FLEX DIVS*/

/*HTML ELEMENTS*/

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

/*CONTAINER*/

.container {
  width: 62.5%;
  display: flex;
  flex-wrap: wrap;
}

.hero {
  background-image: url(edgar1.jpg);
  width: 37.5%;
  height: 100vh;
  background-size: cover;
  background-position-x: 15%;
  display: inline-block;
}

/*FLEX DIVS*/

.div {
  width: 33.3%;
  height: 33.3vh;

  box-sizing: border-box;
}

.div1 {
  width: 66.6%;
}

.div2,
.div5,
.div8 {
  width: 33.4%;
}

/*BASE COLORS*/

.div1 {
  background: linear-gradient(to right, #406D63 , #7E9A94)
}
.div2 {
  background-color: #B0C0BD
}
.div3 {
  background-color: #C68C8F
}
.div4 {
  background-color: #EBC0C2
}
.div5 {
  background-color: #FCE7E8
}
.div6 {
  background-color: #7AA575
}
.div7 {
  background-color: #A3C4A0
}
.div8 {
  background-color: #CEDFCC
}
